body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
h2
{
  color: black;
}
.Home{
  background-color: black;
  height:120vh;
}
nav
{
  position: relative;
  top: 20px;
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  width: 49%;
  font-size: 1.3rem ;
}
nav div span
{
  margin: 28px;
}
nav div span :focus
{
  background-color:#ebebeb;
  padding: 10px;
  border-radius: 20px;
}

a
{
  text-decoration :none;
  color: black;
}
button a
{
  text-decoration :none;
  color: white;
}
.container
{
  background-color: red;
  display : flex;
  flex-direction: column;
}
.box-container
{
  display :flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  margin-top:50px;
}
.box
{
  height: 47vh;
  width: 18vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 50px ;
}
.box img 
{
  height: 40%;
  width :20%px;
  border-bottom: 2px dashed #2b2727;
  padding: 8px 0px;
}
.button
{
  padding: 15px;
  border-radius: 15px;
  background-color: #e7a684;
  color:#2b2727
}
p{
  font-size : 0.8rem;
}
.college
{
  margin-top: 40px;
  background-color: #fff;
  border-radius: 30px;
  height:40%;
  width: 80%;
  display: flex;
  justify-self: center;
}
#logo
{
  padding: 0px 10px;
  border-right: 2px solid black;
}
.details
{
  width:67%;
}
